.break-div {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}

.break-text {
  color: white;
  font-size: 7vh;
  font-weight: bold;
  margin: 0vh 0 0 0;
}

.countdown-timer {
  border-radius: 30%;
  background-color: black;
  margin: 7vh 0 0 0;
}

.close-break {
  margin: 5vh 0 0 85vw;
  font-size: 7vh;
  background-color: black;
  border-width: 0;
  outline: none;
}

.break-feedback {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gallery {
  margin: 2vh;
}

.break-completed-text {
  font-size: 5vh;
  margin: 0 0 5vh 0;
}

.feedback-request-text {
  margin: 5vh 0 0 0;
  font-size: 3.5vh;
}

.feedback-button {
  outline: none;
  background-color: black;
  border-width: 0;
}

.feedback-text-2 {
  outline: none;
  color: white;
  background-color: black;
  border-radius: 8px;
  width: 500px;
  height: 150px;
  border-style: solid;
  padding: 1% 1% 9% 1%;
  grid-auto-rows: 80px;
  overflow-wrap: break-word;
}

.feedback-text {
  border-width: 2px;
  outline: none;
  color: white;
  background-color: black;
  border-radius: 8px;
  border-style: solid;
  padding: 1% 1% 1% 1%;
  resize: none;
  overflow: auto;
  width: 60%;
  height: 100%;
}

.feedback-text-box {
  display: flex;
  width: 50%;
  height: 15%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.floating-label {
  background-color: black;
  z-index: 1;
  padding-right: 2%;
  padding-left: 0.7%;
  margin: 0 47% -1.25% 0;
  font-size: small;
}

.save-button-text {
  font-size: 15px;
}

.circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border-color: white;
  border-width: 10px;
  border-style: solid;
}
